#main-header{
    background-color: #573b8a;
}

.submit-btn{
    width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 40px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

input{
	width: 30%;
	height: 40px;
	background: white;
	margin: 20px auto;
	padding: 10px;
	outline: none;
	border-radius: 5px;
    border: 2px solid black;
}
#category{
    width: 30%;
	height: 37px;
	background: white;
	margin: 20px auto;

	outline: none;
	border-radius: 5px;
    border: 2px solid black;
}