#main-header{
    background-color: #344a72;;
}
.col-md-6{
	display: flex;
}
#click{
	background-color: #49c1a2 ;
	cursor: pointer;
	border: none;
	color: white;
	font-weight: bold;
	border: none;
}
#click:active{
	background-color: white;
	color: #49c1a2;
}
.usercol{
	position: relative;
	left:800px;
}
#data{
    display: flex;
}
#click{
    position:relative;
    left:150px;
    width:50px
}
.buttons{
	background-color: #49c1a2;
	border: none;
	cursor: pointer;
	outline: none;
	color: white;
	font-weight: bolder;
}
.buttons:active{
	border: none;
    outline: none;

}
.nav{
    background-color: #49c1a2;
    position: relative;
    left:220px;
    bottom: 16px;
    width: 200px;
    height: 1000px;
    border-radius: 30px;
    list-style: none;
    padding-left: 30px;
    padding-top:20px;
    padding-bottom:20px;
    margin-right: none;
    transform: translateX(100%);
    transition: all 0.3s;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    color:white;
    font-weight: bolder;
    
}
.active{
    background-color: #49c1a2;
    position: relative;
    left:220px;
    bottom: 16px;
    width: 200px;
    height: 1000px;
    border-radius: 30px;
    list-style: none;
    padding-left: 30px;
    padding-top:20px;
    padding-bottom:20px;
    margin-right: none;
    transform: translateX(0);
    transition: all 0.3s;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    color:white;
    font-weight: bolder;

}


#main{
    position: relative;
    left:100px
}

.submit-btn{
    width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background-color: #49c1a2;
	font-size: 1em;
	font-weight: bold;
	margin-top: 40px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
input{
	width: 30%;
	height: 40px;
	background: white;
	margin: 20px auto;
	padding: 10px;
	outline: none;
	border-radius: 5px;
    border: 2px solid black;
}
#category{
    width: 30%;
	height: 37px;
	background: white;
	margin: 20px auto;

	outline: none;
	border-radius: 5px;
    border: 2px solid black;
}
li{
	text-decoration: none;
	padding-bottom: 10px;
}
a {
	text-decoration: none;
	color:white
  }
a:hover{
	text-decoration: none;
	color:white

}